.aboutus {
  background: $primaryColor;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 40px;

  &_title {
    color: white;
    font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
    font-family: "Inter", sans-serif;
    font-weight: 200;
  }

  &_bold {
    font-weight: 600;
  }

  &_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    @media screen and (max-width: 900px) {
        flex-direction: column-reverse;
        gap:40px;
        align-items: center;
    }
  }

  &_para {
    color: white;
    font-size:  clamp(0.978rem, 0.887rem + 0.476vw, 1.325rem);
    line-height: 25px;
    font-family: "Inter", sans-serif;
    @media screen and (max-width: 800px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 515px) {
        font-size: 14px;
        line-height: 20px;
        padding-left: 0px;
        text-align:justify;
  }
}

  &_headline {
    color: white;
    font-style: oblique;
    font-size: 24px;
    margin-top: 40px;
    @media screen and (max-width: 515px) {
        font-size: 18px;
        text-align: center;
    }
  }

  &_img{
    @media screen and (max-width: 515px) {
      width: 320px;
    }
  }
}
