.mainContent_container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 602px) {
    gap:10px;
  }

  @media screen and (max-width:515px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: $mobile) {
    gap: 0px;
  }
}

.deskman {
  width: 506px;
  height: 550px;

  @media screen and (max-width: 1386px) {
    width: 406px;
    height: 450px;
  }

  @media screen and (max-width: 988px) {
    width: 276px;
    height: 300px;
  }
  @media screen and (max-width: 870px) {
    width: 286px;
    height: 320px;
  }

  @media screen and (max-width: 800px) {
    width: 440px;
    height: 340px;
  }

  @media screen and (max-width:650px) {
    width: 360px;
    height: 280px;
  }

  @media screen and (max-width:515px) {
    width: 320px;
    height: 360px;
  }

  @media screen and (max-width: $mobile) {
    width: 260px;
    height: 300px;
  }
}

.maintitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: calc(3.75rem + ((1vw - 14.4px) * 3.2143));
  // font-size: 6.9vw;
  line-height: 150%;

  
  &_highlight {
    color: white;
    background: $primaryColor;
  }

  &_dot {
    color: $primaryColor;
  }

  @media screen and (max-width:2650px){
    font-size: 80px;
  }

  @media screen and (max-width: 2097px) {
    font-size: 65px;
  }

  @media screen and (max-width: 1899px) {
    font-size: 45px;
  }
  @media screen and (max-width: 1582px) {
    font-size: 35px;
  }
  @media screen and (max-width: 1440px) {
    font-size:calc(3.75rem + (1vw - 14.4px) * 3.2143);
  }
  @media screen and (max-width: 1386px) {
    font-size: 55px;
  }

  @media screen and (max-width:1231px) {
    font-size: 40px;
    
  }
  @media screen and (max-width: 988px) {
    font-size: 36px;
  }

  @media screen and (max-width: 870px) {
    font-size: 28px;
  }

  @media screen and (max-width: 800px) {
    font-size: 32px;
  }

  @media screen and (max-width:650px) {
    font-size: 26px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 24px;
  }
}
