.serviceContainer {
  background: $primaryColor;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 10px;

  @media screen and (max-width: $tablet) {
    margin-top: 30px;
  }
}

.serviceName {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);

  &_bold {
    font-weight: 600;
  }
}

.serviceCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  @media screen and (max-width: $tablet) {
    margin-top: 20px;
    gap: 30px;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.serviceCard {
  background-color: white;
  border-radius: 20px;
  width: 320px;
  height: 140px;
  border: none;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: $tablet) {
    width: 260px;
    height: 100px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &_title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border-bottom: 4px solid #fede65;
    text-align: center;
    font-size: 18px;

    @media screen and (max-width: $tablet) {
        font-size: 16px;
    }
  }

  &_description {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    @media screen and (max-width: $tablet) {
        font-size: 12px;
        margin-top: 8px;
    }
  }
}
