@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;700;800&display=swap");
@font-face {
  font-family: Sansation;
  src: url(./sansation/Sansation_Bold.ttf);
}
.navContainer {
  padding-top: 25px;
  position: -webkit-sticky;
  position: sticky;
  padding-bottom: 25px;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.navContainer__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .navContainer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 375px) {
  .navContainer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logoText {
  font-family: Sansation;
  font-size: 36px;
}
.logoText__color {
  color: #4b8eb0;
}
@media screen and (max-width: 768px) {
  .logoText {
    font-size: 24px;
  }
}

.fields {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-right: 30px;
  margin-left: 30px;
}
.fields:hover {
  color: #4b8eb0;
}
@media screen and (max-width: 933px) {
  .fields {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .fields {
    color: white;
  }
}

@media screen and (max-width: 811px) {
  .navBarContainer {
    display: none;
  }
}

.navButton {
  background: #4b8eb0;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding-left: 25px;
  margin-left: 30px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navButton:hover {
  border: 1px solid #4b8eb0;
  background: transparent;
  color: #4b8eb0;
}
@media screen and (max-width: 933px) {
  .navButton {
    margin-left: 15px;
    font-size: 16px;
  }
}

.linkContainer {
  visibility: hidden;
}
@media screen and (max-width: 811px) {
  .linkContainer {
    visibility: visible;
  }
}

.modalContainer {
  width: 100vw;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  z-index: 200;
  background-color: #4b8eb0;
}
.modalContainer_close {
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  margin-bottom: -30px;
}
.modalContainer_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
  justify-content: center;
}
.modalContainer_title {
  font-size: 24px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.modalContainer_button {
  font-size: 24px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.mainContent_container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 602px) {
  .mainContent_container {
    gap: 10px;
  }
}
@media screen and (max-width: 515px) {
  .mainContent_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .mainContent_container {
    gap: 0px;
  }
}

.deskman {
  width: 506px;
  height: 550px;
}
@media screen and (max-width: 1386px) {
  .deskman {
    width: 406px;
    height: 450px;
  }
}
@media screen and (max-width: 988px) {
  .deskman {
    width: 276px;
    height: 300px;
  }
}
@media screen and (max-width: 870px) {
  .deskman {
    width: 286px;
    height: 320px;
  }
}
@media screen and (max-width: 800px) {
  .deskman {
    width: 440px;
    height: 340px;
  }
}
@media screen and (max-width: 650px) {
  .deskman {
    width: 360px;
    height: 280px;
  }
}
@media screen and (max-width: 515px) {
  .deskman {
    width: 320px;
    height: 360px;
  }
}
@media screen and (max-width: 375px) {
  .deskman {
    width: 260px;
    height: 300px;
  }
}

.maintitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: calc(3.75rem + (1vw - 14.4px) * 3.2143);
  line-height: 150%;
}
.maintitle_highlight {
  color: white;
  background: #4b8eb0;
}
.maintitle_dot {
  color: #4b8eb0;
}
@media screen and (max-width: 2650px) {
  .maintitle {
    font-size: 80px;
  }
}
@media screen and (max-width: 2097px) {
  .maintitle {
    font-size: 65px;
  }
}
@media screen and (max-width: 1899px) {
  .maintitle {
    font-size: 45px;
  }
}
@media screen and (max-width: 1582px) {
  .maintitle {
    font-size: 35px;
  }
}
@media screen and (max-width: 1440px) {
  .maintitle {
    font-size: calc(3.75rem + (1vw - 14.4px) * 3.2143);
  }
}
@media screen and (max-width: 1386px) {
  .maintitle {
    font-size: 55px;
  }
}
@media screen and (max-width: 1231px) {
  .maintitle {
    font-size: 40px;
  }
}
@media screen and (max-width: 988px) {
  .maintitle {
    font-size: 36px;
  }
}
@media screen and (max-width: 870px) {
  .maintitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 800px) {
  .maintitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 650px) {
  .maintitle {
    font-size: 26px;
  }
}
@media screen and (max-width: 375px) {
  .maintitle {
    font-size: 24px;
  }
}

.serviceContainer {
  background: #4b8eb0;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .serviceContainer {
    margin-top: 30px;
  }
}

.serviceName {
  color: white;
  font-size: calc(4rem + (1vw - 14.4px) * 3.0476);
  font-family: "Inter", sans-serif;
  font-weight: 200;
}
.serviceName_bold {
  font-weight: 600;
}

.serviceCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .serviceCardContainer {
    margin-top: 20px;
    gap: 30px;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.serviceCard {
  background-color: white;
  border-radius: 20px;
  width: 320px;
  height: 140px;
  border: none;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 768px) {
  .serviceCard {
    width: 260px;
    height: 100px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.serviceCard_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-bottom: 4px solid #fede65;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .serviceCard_title {
    font-size: 16px;
  }
}
.serviceCard_description {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .serviceCard_description {
    font-size: 12px;
    margin-top: 8px;
  }
}

.whyusContainer {
  margin-top: 30px;
  margin-bottom: 50px;
}
.whyusContainer_desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 1008px) {
  .whyusContainer_desktop {
    display: none;
  }
}
.whyusContainer_mobile {
  display: none;
}
@media screen and (max-width: 1008px) {
  .whyusContainer_mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .whyusContainer_mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 0px;
  }
}

.whyusTitle {
  color: #4b8eb0;
  font-weight: 300;
  font-size: calc(4rem + (1vw - 14.4px) * 3.0476);
  font-family: "Inter", sans-serif;
}
.whyusTitle_bold {
  font-weight: 600;
}

.whyusCardMobile {
  background: white;
  border: 0.6px solid #c5c5c5;
  margin-top: 30px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  width: 312px;
  height: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}
@media screen and (max-width: 1008px) {
  .whyusCardMobile {
    width: 270px;
    height: 90px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media screen and (max-width: 768px) {
  .whyusCardMobile {
    width: 312px;
    height: 100px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.whyusTextContainer {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.whyusTextContainer_title {
  font-weight: 600;
}
@media screen and (max-width: 375px) {
  .whyusTextContainer_title {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) {
  .whyusTextContainer_title {
    font-size: 14px;
  }
}
.whyusTextContainer_description {
  font-size: 14px;
  margin-top: 8px;
}
@media screen and (max-width: 375px) {
  .whyusTextContainer_description {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .whyusTextContainer_description {
    font-size: 12px;
  }
}

.whyusCardDesktop {
  background-color: white;
  border: 1px solid #e7e7e7;
  width: 235px;
  position: relative;
  height: 281px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}
.whyusCardDesktop_image {
  width: 165px;
  height: 165px;
}
.whyusCardDesktop_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.whyusCardDesktop:hover .item__overlay {
  transform: translate3d(0, 0, 0);
}

.item__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  margin-top: 20px;
  border-radius: 40px;
  transition: transform 400ms;
  background-color: #fede65;
  transform: translate(0, calc(100% - 3.5rem));
}

.item__body {
  flex-grow: 1;
  padding: 1rem;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.item__body p {
  margin: 0;
}

.dot {
  font-size: 40px;
  color: #4b8eb0;
}

.contactusContainer {
  display: flex;
  background-color: #85b2c9;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Inter", sans-serif;
  padding-right: 70px;
  padding-left: 70px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
}
@media screen and (max-width: 900px) {
  .contactusContainer {
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  .contactusContainer {
    gap: 40px;
  }
}
@media screen and (max-width: 515px) {
  .contactusContainer {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    gap: 20px;
  }
}
@media screen and (max-width: 425px) {
  .contactusContainer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.contactusContainer_image {
  height: calc(16.6875rem + (1vw - 14.4px) * 5.9048);
  width: calc(21.875rem + (1vw - 14.4px) * 8.7619);
}
@media screen and (max-width: 900px) {
  .contactusContainer_image {
    height: 180px;
    width: 220px;
  }
}
@media screen and (max-width: 515px) {
  .contactusContainer_image {
    height: 205px;
    width: 258px;
  }
}

.contactUsTitle {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: calc(3.375rem + (1vw - 14.4px) * 2.4762);
  font-weight: 500;
}
@media screen and (max-width: 1008px) {
  .contactUsTitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .contactUsTitle {
    font-size: 30px;
  }
}
@media screen and (max-width: 515px) {
  .contactUsTitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 425px) {
  .contactUsTitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 380px) {
  .contactUsTitle {
    font-size: 24px;
  }
}
.contactUsTitle_bold {
  font-weight: 800;
}

.contactUsEmail {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  font-weight: 400;
}
@media screen and (max-width: 1008px) {
  .contactUsEmail {
    font-size: 12px;
  }
}
@media screen and (max-width: 900px) {
  .contactUsEmail {
    font-size: 15px;
  }
}
@media screen and (max-width: 515px) {
  .contactUsEmail {
    font-size: 13px;
  }
}

a {
  color: white;
  font-weight: 600;
}

.contactusButton {
  margin-top: 20px;
}
@media screen and (max-width: 515px) {
  .contactusButton {
    margin-top: 10px;
  }
}
.contactusButton_main {
  background-color: #12394d;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 40px;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .contactusButton_main {
    font-size: 15px;
  }
}
@media screen and (max-width: 515px) {
  .contactusButton_main {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.layoutContainer {
  margin-left: 360px;
  margin-right: 360px;
}
@media screen and (max-width: 1440px) {
  .layoutContainer {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media screen and (max-width: 768px) {
  .layoutContainer {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 375px) {
  .layoutContainer {
    margin-left: 24px;
    margin-right: 24px;
  }
}/*# sourceMappingURL=index.css.map */