.contactusContainer {
  display: flex;
  background-color: $primaryColor-light;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Inter", sans-serif;
  padding-right: 70px;
  padding-left: 70px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
  @media screen and (max-width: 900px) {
    gap: 10px;
  }
  @media screen and (max-width: 800px) {
    gap: 40px;
  }
  @media screen and (max-width: 700px) {
    gap: 10px;
  }

  @media screen and (max-width: 598px) {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    gap: 20px;
  }

  @media screen and (max-width: 425px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: 375px) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &_image {
    width: 37%;
    @media screen and (max-width:598px) {
      width: 300px;
    }
    @media screen and (max-width: 515px) {
      width: 200px;
    }
  }

  &_sub{
    display: flex;
    flex-direction: column;
    gap:calc(0.9375rem + ((1vw - 14.4px) * 0.5357));
    @media screen and (max-width:320px) {
      gap:4px;
    }
  }
}

.contactUsTitle {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }

  @media screen and (max-width: 736px) {
    font-size: 24px;
  }
  @media screen and (max-width: 598px) {
    font-size: 28px;
  }
  @media screen and (max-width: 425px) {
    font-size: 24px;
  }
  @media screen and (max-width: 380px) {
    font-size: 24px;
  }
  @media screen and (max-width:320px) {
  
  font-size: 20px;}

  &_bold {
    font-weight: 800;
  }
}

.contactUsEmail {
  color: white;
  font-size: 20px;
  text-decoration-color: white;
  font-weight: 400;

  @media screen and (max-width: 1008px) {
    font-size: 16px;
  }

  @media screen and (max-width: 900px) {
    font-size: 15px;
  }

  @media screen and (max-width: 736px) {
    font-size: 13px;
  }

  @media screen and (max-width: 676px) {
    font-size: 12px;
  }

  @media screen and (max-width:598px) {
    font-size:16px;
  }
  @media screen and (max-width:424px) {
    font-size:12px;
  }
  @media screen and (max-width:320px) {
    font-size:10px;
  }
  
}

a {
  color: white;
  font-weight: 600;
}

.contactusButton {
  margin-top: 20px;

  @media screen and (max-width: 736px) {
    margin-top: 10px;
  }
  &_main {
    background-color: $primaryColor-dark;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    font-size: 20px;

    @media screen and (max-width: 1008px) {
      font-size: 16px;
    }
  
    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 736px) {
      font-size: 12px;
    }

    @media screen and (max-width:598px) {
      font-size:16px;
    }

    @media screen and (max-width:424px) {
      font-size:14px;
    }
    @media screen and (max-width:320px) {
      font-size:10px;
    }
  }
}
