$primaryColor: #4b8eb0;
$primaryColor-light: #85b2c9;
$primaryColor-dark: #12394d;
$secondaryColor: #fede65;
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;

.footer {
  background: $primaryColor-dark;

  &_container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &_linkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_linkText {
    text-transform: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
}

.subcontainer {
  background: black;
 
  &_display {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: 933px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
  }

  &_text {
    color: white;
    font-family: "Inter", sans-serif;
    @media screen and (max-width: 933px) {
      font-size: 14px;
    }
  }
}
